@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
section{
  padding: 100px;
}
.banner{
  position: relative;
  min-height: 60vh;
  background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../images/contact us.jpg');
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.banner h2{
  font-size: 3em;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span{
  font-size: 1.5em;
  font-weight: 700;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1;
  transition: 0.5s;
}
header.sticky{
  background: black;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  color: black;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 70px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .nav-links{
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: #fff;
  color: black;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #242526;
  width: 180px;
  line-height: 45px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu
  {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
  z-index: 100;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
}
.wrapper .btn{
  background: black;
  border-radius: 50%;
  border: 20px 20px;
  color: #C0C0C0;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 0;
  top: 0;
  background-color: #242526;
}
.wrapper .btn:hover{
  transition: all 0.3s ease;
  color: #fff;
}

@media screen and (max-width: 970px) {
  header{
    background: black;
    padding: 10px 10px;
  }
.logo{
    position: relative;
    padding: 0;
  }
  .wrapper .btn
    {
    display: block;
    position: fixed;
    right: 20px;
    margin: 0;
  }
  .wrapper .nav-links .close-btn{
    right: 20px;
  }
  .wrapper .nav-links{
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    z-index: 1;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #242526;
  }
  ::-webkit-scrollbar-thumb {
    background: #3A3B3C;
  }
  #menu-btn:checked ~ .nav-links{
    left: 0%;
  }
  #menu-btn:checked ~ .btn.menu-btn{
    display: none;
  }
  #close-btn:checked ~ .btn.menu-btn{
    display: block;
  }
  .nav-links li{
    margin: 15px 10px;
  }
  .nav-links li a{
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  .nav-links .drop-menu{
    position: static;
    opacity: 1;
    top: 65px;
    visibility: visible;
    padding-left: 20px;
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    box-shadow: none;
    transition: all 0.3s ease;
  }
  #showDrop:checked ~ .drop-menu
    {
    max-height: 100%;
  }
  .nav-links .desktop-item{
    display: none;
  }
  .nav-links .mobile-item{
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  .nav-links .mobile-item:hover{
    background: #3A3B3C;
  }
  .drop-menu li{
    margin: 0;
  }
  .drop-menu li a{
    border-radius: 5px;
    font-size: 18px;
  }

}
nav input{
  display: none;
}

.logo{
  width: 200px;
  float: left;
  height: auto;
}
.contact{
  position: relative;
  min-height: 50vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-size: 36px;
  font-weight: 500;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  font-size: 42px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3{
  font-weight: 1000;
}
.container .contactInfo .box .text p a{
  text-decoration: none;
  color: #333;
}
.container .contactInfo .box .text p a:hover{
  text-decoration: none;
  transition: 0.5s;
  color: #e91e63;
}
.contactForm{
  width: 40%;
  padding: 40px;
}
.contactForm h2{
  font-size: 30px;
  font-weight: 700;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}
.contactForm .inputBox input[type="submit"]
{
  transition: all 0.5s ease;
  width: 100px;
  background-color: #fff;
  color: #333;
  border: solid;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
.contactForm .inputBox input[type="submit"]:hover
{
  background: #303030;
  color: #fff;
}
.sub-footer{
  margin: 0;
  padding: 0;
  background-color: #272727;
}
.social-links{
  width: 165px;
  margin: auto;
  padding: 10px;
  display: flex;
}
.social-links ul{
  display: flex;
}
.footer-head h5{
  text-align: center;
  color: white;
  font-size: 18px;
  padding-top: 10px;
}
.social-items{
  list-style: none;
}
.social-items a{
  padding: 10px 20px;
  font-size: 35px;
  color: #C0C0C0;
}
.social-items a:hover{
  transition: all 0.3s ease;
  color: #fff;
}
.outer-footer{
  padding: 15px;
  text-align: center;
  color: white;
  font-size: 18px;
  background-color: black;
}

@media (max-width: 991px)
{
  .contact{
    padding: 50px;
  }
  .container{
    flex-direction: column;
  }
  .container .contactInfo{
    margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm{
    width: 100%;
  }
}
